a {
	text-decoration: none;
}
body {
	font-family: 'OpenSans', sans-serif;
	font-size: 16px;
	margin: 0;
    transition: background-color .5s;
}
img {
  vertical-align: middle;
}
.clearfix:after{
	display: block;
	clear: both;
	content: '';
}
.fl-right{
	display: inline-block;
	float: right;
}
.fl-left{
	display: inline-block;
	float: left;
}