.header {
}

.wrap_content {
	width: 1200px;
	margin: 0 auto;
}

.header-top {
	background-color: #d65900;
	padding: 11px 0;
}

.header-top a {
	padding: 12px 15px 3px 15px;
	color: #fff;
	font-size: 12px;
}

.header-top a:first-child {
    background-image: url(../images/Forma_1_copy.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    padding-left: 20px;
}

.header-top a:last-child {
    background-image: url(../images/Ellipse_2_copy.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    padding-right: 25px;
}

.header-mid {
	background-color: #f96a04;
	padding: 20px 0;
	color: #fff;
	font-size: 14px;
}
.header-mid a {
	color: #fff;
}
.header-bottom {
	padding: 15px 0
}
.header-bottom a {
	color: #000;
}
.logo {
	width: 200px;
    float: left;
    margin-right: 30px;
}
#search {
	float: left;
	width: 60%;
}
#search form {
	display: inline-flex;
	width: 100%;
}
.submit {
  background-color: #d65900;
  background-image: url(../images/icon-search.png);
  background-position: center center;
  background-repeat: no-repeat;
  border: medium none;
  height: 42px;
  right: 1px;
  top: 1px;
  width: 70px;
  border: 1px solid #fff;
  cursor: pointer;
}
.text-search {
    background-color: #e9e9ea;
    border: 1px solid #fff;
    color: #7d7d7d;
    font-size: 14px;
    height: 42px;
    padding-left: 10px;
    width: 100%;
    font-style: oblique;
}
.popularly {
	padding-top: 15px;
}
.popularly ul {
	display: inline-flex;
}
.popularly li {
	padding-right: 15px;
}
.notification {
	padding: 12px 23px;
}
.user {
	display: inline-flex;
}
.text-user {
	padding: 7px 15px;
}
.menu ul {
	display: inline-flex;
}
.menu li {
	padding-right: 30px;
	font-size: 14px;
}
.menu-link {
	background-color: #f3f3f3;
	font-size: 14px;
	padding: 10px 0;
}
.menu-link a {
	color: #787878;
}
.slideshow {
	background-image: url(../images/Layer_2.png);
	height: 500px;
}
.wrap-slide {
	margin-left: 25%;
	padding-top: 75px;
}
.wrap-slide .text-slide {
	margin-top: 20px;
	font-family: 'UTMAvo';
	font-size: 54.26px;
	color: #fff;
}
.wrap-slide span {
	display: inline-block;
	padding: 15px 35px;
	margin-top: 22px;
	font-size: 18px;
	color: #4877d1;
	background-color: #fff;
}
.owl-dots {
	position: relative;
	bottom: 50px;
}
.danh-muc{
}
.category {
	width: 20%;
	padding-right: 15px;
	float: left;
	background-repeat: no-repeat;
}
.category p {
	position: relative;
    top: 40px;
    text-align: center;
    color: #fff;
    font-size: 18px
}
.title {
	margin-top: 45px;
}
.item-favourite {
	width: 66%;
	float: right;
}
.item-image {
	display: inline-block;
}
.item-image:hover {
	background-image: url(images/Ellipse-3.png);
	background-repeat: no-repeat;
	background-position-x: -14px;
}
.item button.owl-prev {
	position: absolute;
	bottom: 0%;
	left: 0%;
}
.item button.owl-next {
	position: absolute;
	bottom: 0%;
	right: 0%;
}
.deal-hot-trong-ngay, .voucher-qua-tang, .san-pham-ua-thich {
	display: inline-flex;
}
.deal-hot-trong-ngay p {
	padding: 2px 4px;
	color: #ed1c24;
}
.deal-hot-trong-ngay .date-time {
	display: inherit;
    margin-left: 20px;
}
.deal-hot-danh-sach {
	margin-top: 50px;
}
.san-pham {
	width: 15.9%;
	float: left;
	border: 1px solid #e1e1e1;
	margin: 10px 10px 0 0;
}
.deal {
	height: 243px;
}
.vou {
	height: 276px;
}
.vou: hover {
	background-color: #c1c1c1;
}
.san-pham span{
	padding: 5px 20px;
	background-color: #f96a04;
	color: #fff;
	font-size: 18px;
	border-radius: 10px;
	position: relative;
	left: 23px;
}
#san-pham-6, #voucher-6, #voucher-12, #voucher-18, #voucher-24{
	margin-right: 0
}
.hinh-anh {
	height: 160px;
}
.hinh-anh img{
	position: relative;
    top: 40px;
    left: 40px;
}
.a-day-roi {
	position: relative;
	top: 20px;
}
.chi-tiet-san-pham {
	margin: 0 10px;
}
.chi-tiet-san-pham p {
	font-size: 13px;
}
.chi-tiet-san-pham span {
	background-color: #fff;
    position: unset;
    display: inline-flex;
    padding: 5px 0;
}
#favourite a {
	padding: 5px 20px;
}
.partner, .payment {
	text-align: center;
}
.partner-logo:hover, .payment-logo:hover {
	border: 1px solid #ebebeb
}
.partner .partner-logo {
	padding: 15px 20px;
	display: inline-block;
	margin-right: 18px;
}
.payment .payment-logo {
	padding: 15px 4px;
	display: inline-block;
	margin-right: 15px;
}
.partner button.owl-prev, .payment button.owl-prev {
	position: absolute;
	bottom: 40%;
	left: 0%;
}
.partner button.owl-next, .payment button.owl-next {
	position: absolute;
	bottom: 40%;
	right: 0%;
}
#footer {
	background-color: #215278;
	color: #fff;
	padding-top: 40px;
}
#footer a {
	color: #fff;
}
.footer-1, .footer-2 {
	width: 50%;
}
.menu-footer {
	margin-top: 30px;
}
.menu-footer li {
	padding: 15px 0;
}
.menu-footer ul {
	margin-right: 100px;
	list-style: inherit;
}
.menu-footer ul:last-child {
	margin-right: 0;
	list-style: none;
}
#email {
	margin-top: 15px;
}
.email {
	width: 75%;
	height: 44px;
	background-color: #0f324d;
	padding: 0 15px;
	border-radius: 5px;
	color: #fff;
}
.submit-email {
	height: 44px;
	background-color: #e97d00;
	margin-left: 15px;
	padding: 0 20px;
	border-radius: 5px;
	color: #fff;
}
.stamp{
	margin: 30px 0;
}

.owl-nav span {
	font-size: 40px;
}
.detail-product {
	margin-top: 50px;
}
.image-product {
	width: 25%;
	border: 1px solid #e1e1e1;
	text-align: center;
	padding: 50px 0;
}
.description {
	width: 50%;
	padding: 0 28px;
}
.info {
	margin-bottom: 25px;
}
.description .text-box {
	width: 100%;
	height: 265px;
	border: 1px solid #f96a04;
}
.description span {
	color: #ed1c24;
	font-size: 30px;
}
.time-up {
	width: 25%;
	height: 395px;
	border: 1px solid #e1e1e1;
}