
@font-face {
  font-family: 'UTMAvo-Italic';
  src: url('UTMAvo-Italic.eot?#iefix') format('embedded-opentype'),  url('UTMAvo-Italic.woff') format('woff'), url('UTMAvo-Italic.ttf')  format('truetype'), url('UTMAvo-Italic.svg#UTMAvo-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
